  header{
      background-color: yellow;
  }

  body {
    background-color: rgb(231, 216, 216);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    margin: auto;
    max-width: 90%;
    text-align: justify;
    word-spacing: 7px;
}
h1{ 
    color: rgb(139, 36, 36);
}
p{
    font-family: serif;
    font-size: large;
    color: rgb(44, 41, 39);
}
q {
    margin: middle;
    background-color: darkgrey;  
}
.good {
    text-transform: capitalize;
    color: green;
}
.bad{
    color: red;
    text-transform: capitalize;
}

article{
    position: relative;
}
.flex{
    display: flex;
}
.bold{
    justify-content: flex-end;
    flex-wrap:wrap;
    font-weight: 200;
    font-weight: bold;

}
.quote1{
    background-color: rgb(201, 194, 194);
    font-size: medium;
    border-left: 3px firebrick;
    font-size: 160%;
}
media screen and (max-width: 300px) {
    body {
      background-color: rgb(158, 7, 7);

    }
    }
  
  @media  screen and (min-width: 301px) and (max-width: 767px) and (orientation : landscape) {
    body {
      background-color: lightgreen;
    }
  }
  @media  screen and (min-width: 768px) {
    body {
      background-color: lightblue;
    }
  }