  header {
    background-color: yellow;
    text-indent: 550px;
  }

  body {
    background-image: linear-gradient(lightblue);
    font-family: 'Open Sans', sans-serif;
    max-width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    word-spacing: 7px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
  }

  h1 {
    color: rgb(139, 36, 36);
  }

  p {
    font-family: serif;
    font-size: large;
    color: rgb(44, 41, 39);
  }
.bien{
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("bien.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 0px;
}
.mal{
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("mal.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 0px;
}
.chat{
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url("chat.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 0px;
}

  table {
    background-color: white;
    border-collapse: collapse;
    margin: auto;
    margin-right: auto;
  }
li{
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  display: flex;
  text-align-last: justify;
}
  th,
  td {
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid black;
  }

  tr:nth-child(even) {
    background-color: lightgray;
  }

  q {
    margin: middle;
    background-color: darkgrey;
    font-style: italic;
  }

  .good {
    text-transform: capitalize;
    color: green;
  }

  .bad {
    color: red;
    text-transform: capitalize;
  }

  article {
    position: relative;
  }

  .flex {
    display: flex;
  }
caption{
  font-size: 20px;
  padding-bottom: 7px;
}
figcaption{
  font-size: 20px;
}
  .bold {
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: 200;
    font-weight: bold;
    padding-left: 25px;
  }

  .quote1 {
    background-color: rgb(201, 194, 194);
    font-size: medium;
    border-left: 3px firebrick;
    font-size: 160%;
    margin-top: 25px;
    margin-bottom: 55px;
    margin-left: 50px;
    margin-right: 50px;
  }

  a:active,
  a:hover {
    background-color: blueviolet;
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
  }

  @media screen and (max-width:300px) {
    body {
      background-color: red;
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) and (orientation : landscape) {
    body {
      background-color: lightgreen;
    }
  }

  @media screen and (min-width: 768px) {
    body {
      background-color: rgb(139, 217, 243);
    }
  }